In [1]:
%%capture

%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from doc2img.dataloader import get_raw_dataset
from doc2img.generating_images import generate_image
from doc2img.summarization import get_summary
from doc2img.clip_inference import get_pretrained_clip_scores
import yaml
import matplotlib.pyplot as plt

In [2]:
config_file = 'config.yaml'

with open(config_file) as cf_file:
    config = yaml.safe_load( cf_file.read())

In [3]:
#reading all poems
df = get_raw_dataset("poems",-1)

#selecting poems in the interesting folder
df = df[df.topic == 'interesting_poems']

In [4]:
#generating summaries
df = get_summary(df,6)

In [5]:
#printing summaries
df

,text,topic,summary
3582,America has traded in his Mercedes\nFor a beat...,interesting_poems,sign america bought ’ standing ”
3583,Look look look\nIt is spring\nGreenery and flo...,interesting_poems,lets look greenery oh hose rose
3584,I wrote this blessing to read at my Granddaugh...,interesting_poems,spirit wedding may rachel bless god
3585,(*when a young girl ventures out for her\nfirs...,interesting_poems,young swimming went girl form class
3586,There was peace\nbefore there was war\nthat's ...,interesting_poems,ever refused men hell two war

In [6]:
#generating and saving images
df = generate_image(df)

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

In [7]:
#Computing scores using CLIP (Only first 75 tokens of poems are used)
get_pretrained_clip_scores(df)

,text,topic,summary,img_path,clip_scores
3582,America has traded in his Mercedes\nFor a beat...,interesting_poems,sign america bought ’ standing ”,experiment_1/0.jpg,20.356958
3583,Look look look\nIt is spring\nGreenery and flo...,interesting_poems,lets look greenery oh hose rose,experiment_1/1.jpg,25.225508
3584,I wrote this blessing to read at my Granddaugh...,interesting_poems,spirit wedding may rachel bless god,experiment_1/2.jpg,24.067461
3585,(*when a young girl ventures out for her\nfirs...,interesting_poems,young swimming went girl form class,experiment_1/3.jpg,22.453581
3586,There was peace\nbefore there was war\nthat's ...,interesting_poems,ever refused men hell two war,experiment_1/4.jpg,20.112543