In [1]:
# %%capture

# %load_ext autoreload
# %autoreload 2

import pandas as pd
import numpy as np
import os
os.environ['CUDA_VISIBLE_DEVICES']='2'
from doc2img.dataloader import get_raw_dataset
from doc2img.generating_images import generate_image
from doc2img.summarization import get_summary
# from doc2img.clip_inference import get_pretrained_clip_scores
import yaml
import matplotlib.pyplot as plt
import cv2

2023-05-24 23:43:42.150125: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
Cannot initialize model with low cpu memory usage because `accelerate` was not found in the environment. Defaulting to `low_cpu_mem_usage=False`. It is strongly recommended to install `accelerate` for faster and less memory-intense model loading. You can do so with:
```
pip install accelerate
```
.
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/pushkar_bhuse/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/pushkar_bhuse/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/pushkar_bhuse/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [2]:
config_file = 'config.yaml'
with open(config_file) as cf_file:
    config = yaml.safe_load(cf_file.read())

In [3]:
DATASET_TYPE = "nyt" # 'poems', 'nyt'
dataset_path_mini = config['datasets'][DATASET_TYPE + '_mini']
dataset_path_full = config['datasets'][DATASET_TYPE + '_full']
df_mini = get_raw_dataset(DATASET_TYPE, dataset_path_mini, max_examples=None)
df_full = get_raw_dataset(DATASET_TYPE, dataset_path_full, max_examples=None)

In [4]:
print("Summarization method : ", config['summary_method'])

Summarization method :  tfidf

In [5]:
#generating summaries
df = get_summary(df_full, df_mini, config)

Preprocessing...
Getting vocabulary...
Computing TFIDF...
Assembling summaries...

In [6]:
#printing summaries
df.head()

,text,topic,summary
0,One of China’s biggest threats to an American ...,no topic,iran enemies rein technologies stealing intell...
1,"BALTIMORE — The sky was still dark, and the ra...",no topic,256 a kent destin cherry crown lani second lin...
2,Cecily Koppuzha’s parents were introduced to L...,no topic,port said admit secret lionel invitation stitc...
3,"DULONG, China — The narrow valley is one of th...",no topic,biosphere takin yingchun built runs one roads ...
4,It was a silent spring for saiga antelopes las...,no topic,anxiously invade bison vegetation possibility ...

In [111]:
from doc2img.generating_images import generate_image

In [ ]:
# #generating and saving images
df = generate_image(df, config['prompts'])

In [8]:
df.head()

,text,topic,summary,prompt_0,prompt_1
0,One of China’s biggest threats to an American ...,no topic,iran enemies rein technologies stealing intell...,experiment_tfidf_poems_new/poems_0_prompt_0.jpg,experiment_tfidf_poems_new/poems_0_prompt_1.jpg
1,"BALTIMORE — The sky was still dark, and the ra...",no topic,256 a kent destin cherry crown lani second lin...,experiment_tfidf_poems_new/poems_1_prompt_0.jpg,experiment_tfidf_poems_new/poems_1_prompt_1.jpg
2,Cecily Koppuzha’s parents were introduced to L...,no topic,port said admit secret lionel invitation stitc...,experiment_tfidf_poems_new/poems_2_prompt_0.jpg,experiment_tfidf_poems_new/poems_2_prompt_1.jpg
3,"DULONG, China — The narrow valley is one of th...",no topic,biosphere takin yingchun built runs one roads ...,experiment_tfidf_poems_new/poems_3_prompt_0.jpg,experiment_tfidf_poems_new/poems_3_prompt_1.jpg
4,It was a silent spring for saiga antelopes las...,no topic,anxiously invade bison vegetation possibility ...,experiment_tfidf_poems_new/poems_4_prompt_0.jpg,experiment_tfidf_poems_new/poems_4_prompt_1.jpg

In [7]:
#Computing scores using CLIP (Only first 75 tokens of poems are used)
get_pretrained_clip_scores(df)

,text,topic,summary,img_path,clip_scores
3582,America has traded in his Mercedes\nFor a beat...,interesting_poems,sign america bought ’ standing ”,experiment_1/0.jpg,20.356958
3583,Look look look\nIt is spring\nGreenery and flo...,interesting_poems,lets look greenery oh hose rose,experiment_1/1.jpg,25.225508
3584,I wrote this blessing to read at my Granddaugh...,interesting_poems,spirit wedding may rachel bless god,experiment_1/2.jpg,24.067461
3585,(*when a young girl ventures out for her\nfirs...,interesting_poems,young swimming went girl form class,experiment_1/3.jpg,22.453581
3586,There was peace\nbefore there was war\nthat's ...,interesting_poems,ever refused men hell two war,experiment_1/4.jpg,20.112543

In [ ]:
save_folder = config['image_generation']['save_folder']
# reading images
final_index = dataset + "_" + str(index) + "_prompt_0"
save_path_0 = os.path.join(save_folder,str(final_index) +'.jpg')
Image0 = cv2.imread(save_path_0)

In [9]:
def visualize_images(dataset, index):
    # create figure
    fig = plt.figure(figsize=(10, 7))
    
    # Assuming only 4 prompts
    rows = 2
    columns = 2

    save_folder = config['image_generation']['save_folder']
    
    # reading images
    final_index = dataset + "_" + str(index) + "_prompt_0"
    save_path_0 = os.path.join(save_folder,str(final_index) +'.jpg')
    Image0 = cv2.imread(save_path_0)

    final_index = dataset + "_" + str(index) + "_prompt_1"
    save_path_1 = os.path.join(save_folder,str(final_index) +'.jpg')
    Image1 = cv2.imread(save_path_1)

    final_index = dataset + "_" + str(index) + "_prompt_2"
    save_path_2 = os.path.join(save_folder,str(final_index) +'.jpg')
    Image2 = cv2.imread(save_path_2)

    final_index = dataset + "_" + str(index) + "_prompt_3"
    save_path_3 = os.path.join(save_folder,str(final_index) +'.jpg')
    Image3 = cv2.imread(save_path_3)

    
    # Adds a subplot at the 1st position
    fig.add_subplot(rows, columns, 1)
    
    # showing image
    plt.imshow(Image0)
    plt.axis('off')
    plt.title(config['prompts'][0])
    
    # Adds a subplot at the 2nd position
    fig.add_subplot(rows, columns, 2)
    
    # showing image
    plt.imshow(Image1)
    plt.axis('off')
    plt.title(config['prompts'][1])
    
    # Adds a subplot at the 3rd position
    fig.add_subplot(rows, columns, 3)
    
    # showing image
    plt.imshow(Image2)
    plt.axis('off')
    plt.title(config['prompts'][2])
    
    # Adds a subplot at the 4th position
    fig.add_subplot(rows, columns, 4)
    
    # showing image
    plt.imshow(Image3)
    plt.axis('off')
    plt.title(config['prompts'][3])

In [ ]:
visualize_images("poems", 0)